<?xml version="1.0" encoding="utf-8"?>
<manifest package="boombotix.com.thundercloud"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:name=".ThundercloudApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.LoginActivity" />
        <activity
            android:name=".ui.activity.TopLevelActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SpeakerPairingActivity"
            android:label="@string/title_activity_speaker_pairing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SpeakerWifiActivity"
            android:label="@string/title_activity_speaker_wifi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.FirstTimeSetupActivity"
            android:label="@string/title_activity_first_time_setup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.MusicServiceSetupActivity"
            android:label="@string/title_activity_music_service_setup"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
